# Ignore config files and debug directories
x64
.vs
"Ray Tracing in One Weekend.sln"
"Ray Tracing in One Weekend.vcxproj"
"Ray Tracing in One Weekend.vcxproj.filters"
"Ray Tracing in One Weekend.vcxproj.user"
